input.tre
0
-1
5 26
I10_Polycentridae_Polycentrus_schomburgki_11559 1 I10_Polycentridae_Polycentrus_schomburgki_11559
I11_Grammatidae_Gramma_loreto_21699 1 I11_Grammatidae_Gramma_loreto_21699
I12_Ambassidae_Ambassis_urotaenia_13569 1 I12_Ambassidae_Ambassis_urotaenia_13569
I14_Gobioscocidae_Diademichthys_lineatus_11521 1 I14_Gobioscocidae_Diademichthys_lineatus_11521
I15_Pomacentridae_Microspathodon_bairdii_11481 1 I15_Pomacentridae_Microspathodon_bairdii_11481
I16_Pomacentridae_Pomacentrus_nigromanus_12472 1 I16_Pomacentridae_Pomacentrus_nigromanus_12472
I17_Pseudochromidae_Congrogadus_subducens_21686 1 I17_Pseudochromidae_Congrogadus_subducens_21686
I18_Pseudochromidae_Pseudochromis_fridmani_12089 1 I18_Pseudochromidae_Pseudochromis_fridmani_12089
I19_Plesiopidae_Plesiops_coeruleolineatus_21682 1 I19_Plesiopidae_Plesiops_coeruleolineatus_21682
I1_Atherinopsidae_Menidia_menidia_17777 1 I1_Atherinopsidae_Menidia_menidia_17777
I20_Cichlidae_Heros_appendictulatus_3249 1 I20_Cichlidae_Heros_appendictulatus_3249
I21_Cichlidae_Retroculus_xinguensis_19986 1 I21_Cichlidae_Retroculus_xinguensis_19986
I22_Cichlidae_Ptychochromis_grandidieri_18168 1 I22_Cichlidae_Ptychochromis_grandidieri_18168
I23_Cichlidae_Etroplus_maculatus_12081 1 I23_Cichlidae_Etroplus_maculatus_12081
I24_Pholidichthidae_Pholidichthys_leucotaenia_11546 1 I24_Pholidichthidae_Pholidichthys_leucotaenia_11546
I25_Tripterygiidae_Enneanectes_altivelis_23718 1 I25_Tripterygiidae_Enneanectes_altivelis_23718
I26_Bovichtidae_Bovichtus_diacanthus_3477 1 I26_Bovichtidae_Bovichtus_diacanthus_3477
I2_Pseudomugilidae_Pseudomugil_signifer_18745 1 I2_Pseudomugilidae_Pseudomugil_signifer_18745
I3_Chaenopsidae_Acanthemblemaria_spinosa_23716 1 I3_Chaenopsidae_Acanthemblemaria_spinosa_23716
I4_Fundulidae_Lucania_goodei_11469 1 I4_Fundulidae_Lucania_goodei_11469
I5_Aplocheilidae__Aplocheilus_lineatus_21580 1 I5_Aplocheilidae__Aplocheilus_lineatus_21580
I6_Belonidae_Strongylura_marina_11543 1 I6_Belonidae_Strongylura_marina_11543
I7_Mugliidae_Mugil_cephalus_15672 1 I7_Mugliidae_Mugil_cephalus_15672
I8_Embiotocidae_Embiotica_jacksoni_11437 1 I8_Embiotocidae_Embiotica_jacksoni_11437
I9_Opistognathidae_Opistognathus_aurifrons_21700 1 I9_Opistognathidae_Opistognathus_aurifrons_21700
I13_Gobiesocidae_Gobiesox_maeandricus_17736 1 I13_Gobiesocidae_Gobiesox_maeandricus_17736

0
